<div class="authorities">
    Any authorities need to be notified?<br>

    <div class="toggle">
        <mat-button-toggle-group #togglePrice = "matButtonToggleGroup">
            <mat-button-toggle value="yes">Yes</mat-button-toggle>
            <mat-button-toggle value="no">No</mat-button-toggle>
        </mat-button-toggle-group><br><br>
    </div>
    

    <mat-radio-group color="primary">
        <mat-radio-button value="police">Police</mat-radio-button>
        <mat-radio-button value="firedepartment">Fire Department</mat-radio-button>
        <mat-radio-button value="trafficcontrol">Traffic Control</mat-radio-button>
    </mat-radio-group>
</div>