<div class="nav-bar">
    <div class="nav-logo pull-left">
        <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2ry95csxWsHz6CAITlyD79vkH1N2hqwjLpQ&usqp=CAU" alt="EVENTS" width="80" height="50"></a>
    </div>

    <span class="header-slogan hidden-xs pull-left">Your city, your events!</span>

    <div class="main-nav-links hidden-sm hidden-xs">

        <div id="quick-search-container">
            <input id="quick-search-input" type="search" placeholder="Quick search">
        </div>

        <ul class="nav-links">

            <div class="nav-user">
                <a href="#"><img src="../../../assets/images/icons8-user-male-50.png" alt="User" width="50" height="50"></a>
            </div>

            <div class="nav-notif">
                <a href="#"><img src="../../../assets/images/icons8-bell-100.png" alt="Notif" width="50" height="50"></a>
            </div>

            <div class="create-event-btn">
                <input type="submit" value="+ Create Event" ><br>
            </div>
        </ul>
    </div><br><br>

    <div class="navlist">
        <app-stepper></app-stepper>
    </div>
    
</div>
