<div class="audience">
    Any restrictions in regards of your Audience?<br><br>

    <mat-radio-group color="primary">
        <mat-radio-button value="none">None</mat-radio-button>
        <mat-radio-button value="childrenonly">Children Only</mat-radio-button>
        <mat-radio-button value="womenonly">Women Only</mat-radio-button>
        <mat-radio-button value="nochildren">No children</mat-radio-button>
        <mat-radio-button value="adultsonly">Event 18+</mat-radio-button>
        <mat-radio-button value="seniorcitizen">Senior Citizen</mat-radio-button>
    </mat-radio-group>
</div>

