.category{
    padding: 0;
    margin: 0;
    border: 1px solid grey;

    .title{
        text-align: center;
    }

    mat-icon{
        padding-left: 80px;

        button{
            height: 90px;
            width: 90px;
            color: rgb(72, 72, 255);
            border-radius: 100%;
            border: rgb(72, 72, 255);
            margin-right: 65px;
        }

        button:hover{
            background-color: rgb(107, 107, 252);
        }

        button:click{
            background-color: rgb(201, 201, 253);
            border: none;
        }
       
    }

    .subcategories{
        margin: 0;
        padding: 0;

        .subtitle{
            text-align: center;
        }

        button{
            border-radius: 20px;
            margin-right: 15px;
            background-color:  rgb(103, 103, 255);
            color: honeydew;
        }

        button:hover{
            background-color: rgb(47, 47, 245);
        }
    }
}
