.datetime{
    padding: 0;
    margin: 0;
    border: 1px solid grey;

    p{
        text-align: center;
    }

    #select{
        padding-left:43%;
    }

    .input{
        padding-left:34%;
    }
}