<div class="location">
    What is location?<br>
    <mat-form-field>
        <mat-label>Select city</mat-label>
        <mat-select>
            <mat-option value="moka">Moka</mat-option>
            <mat-option value="flacq">Flacq</mat-option>
            <mat-option value="quartier">Quartier Millitaire</mat-option>
            <mat-option value="savanne">Savanne</mat-option>
            <mat-option value="rempart">Rempart</mat-option>
            <mat-option value="portlouis">Port Louis</mat-option>
            <mat-option value="plaine">Plaine Wilhems</mat-option>
        </mat-select>
    </mat-form-field>&nbsp;&nbsp;&nbsp;

    <mat-form-field>
        <mat-label>Select Venue</mat-label>
        <mat-select>
            <mat-option value="moka">Moka</mat-option>
            <mat-option value="flacq">Flacq</mat-option>
            <mat-option value="quartier">Quartier Millitaire</mat-option>
            <mat-option value="savanne">Savanne</mat-option>
            <mat-option value="rempart">Rempart</mat-option>
            <mat-option value="portlouis">Port Louis</mat-option>
            <mat-option value="plaine">Plaine Wilhems</mat-option>
        </mat-select>
    </mat-form-field><br>

    Or type address if you do not find any<br>
    <input type="text" size="40">
</div>

